	<!-- Main Menu -->
	<div id="main-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">

		<div class="navbar-header">
			<!-- responsive navigation -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars"></i>
			</button> <!-- /.navbar-toggle -->

		</div> <!-- /.navbar-header -->

		<nav class="collapse navbar-collapse">
			<!-- Main navigation 아직 어떤 내용 들어가야할지 모르겠네요..! 생각나는거 다넣음-->
			<ul id="headernavigation" class="nav navbar-nav">
				<li class="active"><a href="#page-top">Home</a></li>	
				<li><a href="#517">5/17 화요일 info</a></li>	
				<li><a href="#518">5/18 수요일</a></li>	
				<li><a href="#519">5/19 목요일</a></li>
				<li><a href="#contact">셔틀버스 정보</a></li>
				
				<li><a href="#contact">주점 정보?안내?</a></li>
				<li><a href="#contact">멋쟁이사자처럼</a></li>
			</ul> <!-- /.nav .navbar-nav -->
		</nav> <!-- /.navbar-collapse  -->
	</div><!-- /#main-menu -->
	<!-- Main Menu End -->
	

	<!-- Page Top Section -->
	<section id="page-top" class="section-style" data-background-image="images/crowd.png">
		<div class="pattern height-resize">
			<div class="container">
				<h1 class="site-title">
					Likelion
				</h1><!-- /.site-title -->
				<h3 class="section-name">
					<span>
						성균관대학교 2016 대동제
					</span>
				</h3><!-- /.section-name -->
				<h2 class="section-title">
					ESKARA
				</h2><!-- /.Section-title  -->
				<div id="time_countdown" class="time-count-container">
				
				<!-- a href로 연결해서 날짜 클릭 시 해당일 이벤트/가수 라인업 등 정보가 나오도록 -->
				<div class="social-btn-container">
					<a href="#517">
						<span class="social-btn-box">
							<div class="info">
								<div class="info_date">
									17
								</div>
								<div class="info_day1">
									TUE
								</div>
							</div>
						</span><!-- 17일 화요일-->
					</a>
					
					<a href="#518">
						<span class="social-btn-box">
							<div class="info">
								<div class="info_date">
									18
								</div>
								<div class="info_day2">
									WED
								</div>
							</div>
						</span><!-- 18일 수요일 -->
					</a>
					
					<a href="#519">
						<span class="social-btn-box">
							<div class="info">
								<div class="info_date">
									19
								</div>
								<div class="info_day3">
									THU
								</div>
							</div>		
						</span><!-- 19일 목요일 -->
					</a>


				<div class="next-section">
					<a class="go-to-about"><span></span></a>
				</div><!-- /.next-section -->
				
			</div><!-- /.container -->
		</div><!-- /.pattern -->		
	</section><!-- /#page-top -->
	<!-- Page Top Section  End -->


	<!-- About Us Section -->
	<section id="about" class="section-style" data-background-image="images/GLS.png">
		<div class="pattern height-resize"> 
			<div class="container">
				<h3 class="section-name">
					<span>
						5/17 LINE UP
					</span>
				</h3>
			
					<div class="social-btn-container">
				
			
				<!-- 날짜별 tab start-->
				<div class="wrapper">
				    <nav class="tabLinks">
				        <a href="#">
				            <span class="social-btn-box">
								<div class="info">
									<div class="lineup_time">
										DAY TIME
									</div>
									<div class="lineup_when">
										2:00 PM
									</div>
								</div>
							</span><!-- DAY TIME -->
				        </a>
				        <a href="#">
				            <span class="social-btn-box">
								<div class="info">
									<div class="lineup_time">
										NIGHT TIME
									</div>
									<div class="lineup_when">
										8:00 PM
									</div>
								</div>
							</span><!-- NIGHT TIME -->
				        </a>
				        <a href="#">
				            <span class="social-btn-box">
								<div class="info">
									<div class="lineup_time">
										AFTER PARTY
									</div>
									<div class="lineup_when">
										?
									</div>
								</div>		
							</span><!-- AFTER PARTY -->
				        </a>
				    </nav>
				    <div class="tabs _inliner">
				        <div>
				        	<div class="team-container">
								<div class="row">
									
									<div class="col-sm-4">
										<div class="team-member">
											<figure>
												<img src="images/17lineup/rose.png" alt="Team Member">
												<figcaption><!--사진 크기는 245x230px-->
													<p class="member-name">장미여관</p>
												</figcaption>
											</figure>
										</div><!-- /.team-member -->
									</div><!-- /.col-sm-4 -->
			
									
								</div><!-- /.row -->
								
							</div><!-- /.team-container -->
				        </div>
				        <div>
				        	<div class="team-container">
								<div class="row">
									
									<div class="col-sm-4">
										<div class="team-member">
											<figure>
												<img src="images/17lineup/loco.png" alt="Team Member">
												<figcaption>
													<p class="member-name">LOCO</p>
												</figcaption>
											</figure>
										</div><!-- /.team-member -->
									</div><!-- /.col-sm-4 -->
			
			
									<div class="col-sm-4">
										<div class="team-member">
											<figure>
												<img src="images/17lineup/jaypark.png" alt="Team Member">
												<figcaption>
													<p class="member-name">
														박재범
													</p><!-- /.member-name -->
												</figcaption>
											</figure>
										</div><!-- /.team-member -->
									</div><!-- /.col-sm-4 -->
			
			
									<div class="col-sm-4">
										<div class="team-member">
											<figure>
												<img src="images/17lineup/yb.png" alt="Team Member">
												<figcaption>
													<p class="member-name">
														YB
													</p>
												</figcaption>
											</figure>
										</div><!-- /.team-member -->
									</div><!-- /.col-sm-4 -->
									
									
									<div class="col-sm-4">
										<div class="team-member">
											<figure>
												<img src="images/17lineup/park.png" alt="Team Member">
												<figcaption>
													<p class="member-name">
														박슬기(MC)
													</p>
												</figcaption>
											</figure>
										</div><!-- /.team-member -->
									</div><!-- /.col-sm-4 -->
									
									
									
								</div><!-- /.row -->
								
							</div><!-- /.team-container -->
				        </div>
				        <div>
				        	<div class="team-container">
								<div class="row">
									
									<div class="col-sm-4">
										<div class="team-member">
											<figure>
												<img src="images/17lineup/maximite.png" alt="Team Member">
												<figcaption>
													<p class="member-name">DJ MAXIMITE</p>
												</figcaption>
											</figure>
										</div><!-- /.team-member -->
									</div><!-- /.col-sm-4 -->
			
			
									<div class="col-sm-4">
										<div class="team-member">
											<figure>
												<img src="images/17lineup/juncoco.png" alt="Team Member">
												<figcaption>
													<p class="member-name">
														DJ JUNCOCO
													</p><!-- /.member-name -->
												</figcaption>
											</figure>
										</div><!-- /.team-member -->
									</div><!-- /.col-sm-4 -->
									
									
								</div><!-- /.row -->
								
							</div><!-- /.team-container -->
				        </div>
				    </div>
				</div>
				<!--날짜별 tab end-->
							
              
				
			

				<div class="next-section">
					<a class="go-to-subscribe"><span></span></a>
				</div><!-- /.next-section -->

			</div><!-- /.container -->
		</div><!-- /.pattern -->
		
		
	</section><!-- /#about -->
	<!-- About Us Section End -->






		<!-- Contact Section -->
		<section id="contact" class="section-style" data-background-image="images/background/contact.jpg">
			<div class="pattern height-resize">
				<div class="container">
					<h3 class="section-name">
						<span>
							Contact
						</span>
					</h3><!-- /.section-name -->
					<h2 class="section-title">
						Get in Touch 
					</h2><!-- /.Section-title  -->
					<p class="section-description">
						Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
					</p><!-- /.section-description -->

					<form id="contact-form" action="email.php" method="post" class="clearfix">
						<div class="contact-box-hide">
							<div class="col-sm-6">
								<input type="text"  class="form-control" id="first_name" name="first_name" required placeholder="First Name">
								<span class="first-name-error"></span>
							</div>
							<div class="col-sm-6">
								<input type="text"  class="form-control" id="last_name" name="last_name" required placeholder="Last Name">
								<span class="last-name-error"></span>
							</div>
							<div class="col-sm-6">
								<input type="email" class="form-control"  id="contact_email" name="contact_email" required placeholder="Email Address">
								<span class="contact-email-error"></span>
							</div>
							<div class="col-sm-6">
								<input type="text"  class="form-control" id="subject" name="contact_subject" required placeholder="Subject">
								<span class="contact-subject-error"></span>
							</div>
							<div class="col-sm-10">
								<textarea class="form-control" rows="5" id="message" name="message" required placeholder="Message"></textarea>
								<span class="contact-message-error"></span>
							</div>
							<div class="col-sm-2">
								<button id="contact-submit" class="btn custom-btn col-xs-12" type="submit" name="submit"><a href=""></a><i class="fa fa-rocket"></i></button>
								<span id="contact-loading" class="btn custom-btn col-xs-12"> <i class="fa fa-refresh fa-spin"></i> </span>
							</div>
						</div><!-- /.contact-box-hide -->
						<div class="contact-message"></div>

					</form><!-- /#contact-form -->		

					<div class="next-section">
						<a class="go-to-page-top"><span></span></a>
					</div><!-- /.next-section -->

				</div><!-- /.container -->
			</div><!-- /.pattern -->

		</section><!-- /#contact -->
		<!-- Contact Section End -->



		<!-- Footer Section -->
		<footer id="footer-section">
			<p class="copyright">
				&copy; <a href="http://demos.jeweltheme.com/kite">Kite</a> 2014-2015, All Rights Reserved. Designed by & Developed by <a href="http://jeweltheme.com">Jewel Theme</a>
			</p>
		</footer>s
		<!-- Footer Section End -->


		<!-- jQuery Library -->
		<script type="text/javascript" src="assets/jquery-2.1.0.min.js"></script>
		<!-- Modernizr js -->
		<script type="text/javascript" src="assets/modernizr-2.8.0.min.js"></script>
		<!-- Plugins -->
		<script type="text/javascript" src="assets/plugins.js"></script>
		<!-- Custom JavaScript Functions -->
		<script type="text/javascript" src="assets/functions.js"></script>
		<!-- Custom JavaScript Functions -->
		<script type="text/javascript" src="assets/jquery.ajaxchimp.min.js"></script>

	</body>
	</html>
